<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">진료 예약 페이지입니다.</h4>
                <form id="form1" method="post" action="/home/PatientInsert">
                    <div class="form-body">
                        <label>환자ID </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="number" name ="patient_id" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>주민번호 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="resident_regist_num" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>주소 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>환자이름 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="patient_name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>연락처 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="phone_num" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>등록일 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="date" name="regist_date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>성별 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="gender" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>생년월일 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="date" name="dob" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>환자상태 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="patient_status_val" class="form-control">
                                </div>
                            </div>
                        </div>
                        <label>알람동의 </label>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <input type="text" name="agree_of_alarm" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-right">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="reset" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>